<% include ../header.ejs %>

<div class="well jumbotron">
<h1><%= title %></h1>
<ul>
	<% todos.forEach(function(todo) { %>
		<li><%= todo.title %> | <%= todo.body %> | <%= todo._id %></li>
	<% }); %>
</ul>

</div>

<% include ../footer.ejs %>
